PORT=3000
DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/psicolau?schema=public&connection_limit=5&pool_timeout=20"
JWT_SECRET="TU_SECRETO_SUPER_SEGURO_PARA_JWT"
RESEND_API_KEY="TU_API_KEY_DE_RESEND"
FRONTEND_URL="https://psicolau.com"
REMITENTE="PsicoLau <contacto@psicolau.com>"
CORREO_LAURA="lince_lg@yahoo.com.mx"

